<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goats.briller">
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.Home"
            android:label="@string/main_activity_home"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.OnboardingWelcomeScreen" />
        <activity android:name=".onboarding.OnboardingSelectPartnerScreen" />
        <activity android:name=".onboarding.OnboardingSelectedPartnerScreen" />
        <activity android:name=".onboarding.OnboardingInstruction" />
        <activity android:name=".main.ui.home.habit.HabitType" />
        <activity android:name=".main.ui.home.habit.HabitPhysique" />
        <activity android:name=".main.ui.home.habit.HabitMind" />
        <activity android:name=".main.ui.home.stamp_card.StampCard" />
        <activity android:name=".main.ui.pethouse.PethouseRewards" />
        <activity android:name=".main.ui.pethouse.PethouseStore" />
        <activity android:name=".main.ui.home.HabitTimer" />
    </application>
</manifest>